### Q1

Name the four built-in data structures in python. Give one examples for each

### Answer
- List eg. [2,'boy',6]
- Set eg. {2,6,3}
- Tuple eg. (2,6,4)
- Dictionary eg. {'ama':2, 'kofi':4}

### Q2

State two differences between a list and a tuple in Python.

### Answer
- Tuple are immutable but list is not
- tuple is in a () but list is in a [ ]

### Q3
Make a list containing names of five animals with a variable name `animal_list`

Write a code for the following:
- Print the first two animals
- Print the last two animals
- Add three extra animals to the variable `animal_list`
- Remove the first two animals from the variable `animal_list`
- How many animals are in the `animal_list`?
- Create a variable animal_set which stores the set of animal_list 
- How many elements are in the animal_set?

In [1]:
animal_list = ['cat', 'monkey', 'rat', 'dog', 'donkey']

In [2]:
print(animal_list[0:2])

['cat', 'monkey']

In [3]:
print(animal_list[3:])

['dog', 'donkey']

In [4]:
animal_list.extend(['bat','cow','goat'])
animal_list

['cat', 'monkey', 'rat', 'dog', 'donkey', 'bat', 'cow', 'goat']

In [5]:
animal_list.remove('monkey')
animal_list

['cat', 'rat', 'dog', 'donkey', 'bat', 'cow', 'goat']

In [6]:
animal_list.remove('cat')
animal_list

['rat', 'dog', 'donkey', 'bat', 'cow', 'goat']

In [7]:
len(animal_list)

6

In [10]:
animal_set = set(animal_list)
animal_set

{'bat', 'cow', 'dog', 'donkey', 'goat', 'rat'}

In [9]:
len(animal_set)

6

### Q4

Given a list:

suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

a. Create a list called first containing only the two first items from suitcase.

b. Create a list called middle containing only the two middle items from suitcase.

c. Create a list called last made up only of the last two items from suitcase.

In [17]:
suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]
first = suitcase[:2]
middle = suitcase[2:4]
last = suitcase[4:]

### Q5
Write a python code to insert 35 into the list below. Make sure it is inserted in the right position to maintain the order of the data.

`values = [20,25,30,40,45,50,55,60,65,70]`

In [19]:
values = [20,25,30,40,45,50,55,60,65,70]
values.insert(3,35)
values

[20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70]

### Q6

Given that Python lists and Python tuples are quite similar â€“ when might you prefer to use a tuple over a list?

###### Answer
- Tuple is preferred over list when you want unchanged data.

### Q7
Create a dictionary with 5 Ghana regions and their capitals and store it in the variable `region_capital`

- Print out the keys of region_capital
- Print out the values of region_capital

In [22]:
region_capital = {'Greater':'Accra',
                 'Ashanti':'Kumasi',
                 'Eastern':'Koforidua',
                 'Central':'Capecoast',
                 'Western':'Takoradi'}
region_capital.keys()
region_capital.keys()

dict_keys(['Greater', 'Ashanti', 'Eastern', 'Central', 'Western'])

### Q8

`values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]`

Using the codes above answer the following questions:
- What is the total number of elements in values?
- What is the highest occuring number in the values variable?
- Convert values into a set and store it into a variable named `values_set`
- How many elements are in the variable values_set?

In [24]:
values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]
len(values)

15

In [44]:
values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6,3]
print('Total', sum(values))

freq_dict = {}
mode = None

for num in values:
    if num in freq_dict:
        freq_dict[num] += 1
    else:
        freq_dict[num] = 1
        
max_freq = max(freq_dict.values())

for key, value in freq_dict.items():
    if value == max_freq:
        mode = key
print('Highest occuring number', mode)

Total 62
Highest occuring number 3

In [27]:
values_set = set(values)

In [28]:
len(values_set)

6

### Q9
Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

In [30]:
d = {}
for num in range(1,16):
    d[num] = num**2
    
d

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

### Q10
Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.

In [42]:
keys = ['x','y','z']

d = {}
for key in keys:
    if key == 'x':
        d[key] = list(range(11,21))
    elif key == 'y':
        d[key] = list(range(21,31))
    else:
        d[key] = list(range(31,40))
        
for key in keys:
    print(f"{key}: {d[key][4]}")

x: 15
y: 25
z: 35